<form>
  <div class="form-group">
    <label for="email">Range Slider </label>
    <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (userChange)="getRangeValue($event)">
    </ngx-slider>
  </div>
  <div class="form-group">
    <label for="website">Select Ram </label>
    <div *ngFor="let rm of ramList">
      <label class="ram-list">
        <input id="simpleInput" type="checkbox" [value]="rm.value" (change)="onCheckboxChange($event)" />
        {{rm.label}}
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Select HDD</label>
    <app-multi-select-dropdown class="multi-select" [list]="hddList" (shareCheckedList)="shareCheckedList($event)"
      (shareIndividualCheckedList)="shareIndividualCheckedList($event)">
    </app-multi-select-dropdown>
  </div>
  <div class="form-group">
    <label for="password">Select Location</label>
    <select class="form-control select" (change)="changeLocation($event)">
      <option>Choose ...</option>
      <option *ngFor="let location of locations">{{location.value}}</option>
    </select>
  </div>
</form>